body{
	background-image: url("bintang.gif");
	margin: 0;
	padding: 0 30px 50px 80px;
	border: 0;
	width: 90%;
}

header{
	text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

table, td, th{
	border:1px solid #f7eff3;
}

table{
	border-collapse: collapse;
	width: 100%;
}

th.kiri{
	height: 50px;
	width: 40%;
	background-color: #f7eff3;
}

tr:hover {
	background-color: #f5f5f5;
}

th.kanan{
	height: 50px;
	width: 60%;
	background-color: #ffffff;
}
img{
	width: 100%;
}

h1{
	font-size: 20px
	color: black;
}

h2{
	font-family: Ravie;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

h3{
	font-family: Colonna MT;
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 27px;
	text-align: right;
	margin-right: 10%;
}

footer{
	bottom: 0;
	font-family: Consolas;
	color: white;
	width: 100%;
	position: fixed;
	height: 4%;
	text-align: center;
	padding-top: 10px;
}

footer:hover{
	background-color: #d66d7d;
	color: white;
	opacity: 0.3;
}

p{
	font-family: Consolas;
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	text-align: justify;	
	margin-left: 10%;
	margin-right: 10%;
}



